body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.hubworld {
    background-image: url("./assets/image.png");

    /* Full height */
    height: 100vh; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.codesrealm {
    background-image: url("./assets/Realm.jpg");


    /* Full height */
    height: 100vh; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.forest {
	background-image: url("./assets/foresthd.jpg");


    /* Full height */
    height: 100vh; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.castle {
	background-image: url("./assets/castlehd.jpg");
	    /* Full height */
    height: 100vh; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.tavern {

	background-image: url("./assets/tavernhd.jpg");
	    /* Full height */
    height: 100vh; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.login-form {
    text-align: center;
    border-style: solid;
}

#tavernLogo {
    width: 120px;
    height: auto;
}

button {
    background-color: green;
}

#castleLogo {
    width: 120px;
    height: auto;
}

#forestLogo {
    width: 120px;
    height: auto;
}

#codesRealmLogo {
    width: 120px;
    height: auto;

}